{% if content is not null %}
    <div id="map-overlay" class="parallax-element">
        <div id='map-overlay-inner'>
            <h5>{{ content.title }}</h5>
            {{ content.content|raw }}
        </div>
    </div>
{% endif %}
