<div id="content-{{ content.id }}" class="content-wrapper" {% if content.code is not empty %}data-code="{{ content.code }}"{% endif %}>
    <{{ titleTagName }} class="title">{{ content.title }}</{{ titleTagName }}>
    {% if content.content is not empty %}
        <div class="content">{{ content.content|raw }}</div>
    {% endif %}
</div>