.calendarMonth { 
    display: block;
    width: 100%;
    margin: 0 auto;
    float: left; 
    height: 240px; 
    margin-bottom: 20px;
    background-color: #FFF;
    border:none;
}

.calendarMonth .Header { float:left; text-align: center; width: 30px; height: 20px; font-size: 12px; font-weight: bold; }
.calendarMonth .day,.calendarMonth .DayEmpty { float: left; width: 31px; height: 31px; font-size: 11px; text-align: center; }
.calendarMonth .day span { width: 30px; padding-top: 7px; display: block; color: #000 }
.calendarMonth .day span span.DayNow { padding-top: 0px; font-weight: bold; font-size: 13px; }
.calendarMonth .EndClear { clear: both; }
.calendarMonth .Month { position: relative; clear: both; text-align: center; font-weight: bold; height: 30px; line-height: 30px; border-bottom: 1px solid #777; margin-bottom: 8px; background-color: #EEE; }
.calendarMonth.current .Month { color: #FFF; background-color: #777 }


.day.byrequest { background-color: #dddddd }
.day.available { background-color: #cfe58c }
.day.unavailable { background-color: #ba3f23 }
.day.onhold { background-color: #f0dcb0 }
.day.booked { background-color: #5a8bef }
.day.booked.waitfordeposit { background-color: #efb55a }
.day.booked.waitforbalance { background-color: #D18252 }