
textarea.form-control {
    min-height: 136px;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: #fff;
    background-color: black;
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}

.inputfile-1 + label {
    padding: .5rem 1rem;
    color: #fff;
    background-color: $primary;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: darken($primary, 20);
}