.legend {
    margin-bottom: 1rem;
}

.legend > li > .legend { 
    width: 15px; 
    height: 15px; 
    float: left; 
    margin-top: 3px;
    margin-right: 5px; 
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius: 15px; 
}

.legend > li {
    min-width: 200px;
    font-size: .9rem;
    text-align: left;
    white-space: nowrap;
}

.modal-content .legend > li:nth-child(5),
.modal-content .legend > li:nth-child(6) {
    display: none;
}


.modal-content .legend > li {
    min-width: 160px;
}

.byrequest { background-color: #dddddd }
.available { background-color: #cfe58c }
.unavailable { background-color: #ba3f23 }
.onhold { background-color: #f0dcb0 }
.booked { background-color: #5a8bef }
.booked.waitfordeposit { background-color: #efb55a }
.booked.waitforbalance { background-color: #D18252 }


.statusCircle {
    width: 23px;
    height: 23px;
    margin: 0 auto;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: block;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
}


.status .byrequest { background-color: #dddddd }
.status .onhold { background-color: #f0dcb0 }
.status .booked { background-color: #efb55a }

.statusIcon {  
    width: 16px;
    height: 20px;
    margin: 0px auto;
    display: block;
}

.statusCircle.status.byrequest.approved .statusIcon, 
.statusCircle.status.onhold.approved .statusIcon { background: url(http://rootcms.elocms.com/assets/images/agents.luxury-rentals.com/icons/tick.png) 0px 3px no-repeat }

.statusCircle.status.byrequest.denied .statusIcon, 
.statusCircle.status.onhold.denied .statusIcon  { background: url(http://rootcms.elocms.com/assets/images/agents.luxury-rentals.com/icons/cancel.png) 0px 3px no-repeat }

.statusCircle.status.onhold .statusIcon  { background: url(http://rootcms.elocms.com/assets/images/agents.luxury-rentals.com/icons/time.png) 0px 3px no-repeat }

