.modal-content {
    color: #000;
}

.modal-title {
    font-size: 1.35rem;
    font-weight: 300;
    text-transform: uppercase;
}

.modal-header {
    background-color: $primary;
    color: #fff;
    padding: .75rem 1rem;
}

.modal-header .close {
    font-size: 3rem;
    font-weight: 300;
    margin-top: -0.3rem;
    padding: 0 1rem;
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

.modal-body {
    padding: 3rem 2rem;
}

.modal-lg {
    max-width: 968px;
}