.navbar {
    background-color: #000;
    padding: 0;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;
}

.navbar-collapse {
    background-color: #000;
}

@include media-breakpoint-down(md) {
    .navbar-collapse .navbar-nav {
        text-align: center;
        padding: 2rem 0;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.5rem !important;
    }
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: transparent;
    outline: none;
}

.navbar-toggler {
    font-size: 1.75rem;
}

.navbar-brand {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar-brand img {
    width: 222px;
    height: 80px;
}

.navbar-dark .navbar-nav > li {
    margin: 0 .2rem;
}

.navbar-dark .navbar-nav .nav-link {
    display: inline-block;
    font-size: .95rem;
    font-family: 'Hind-Medium';
    text-transform: uppercase;
    letter-spacing: .05rem;
}

.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8A772E;
    transition: width .3s;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar.headroom--top {
    top: 0px !important;
/*    background-color: transparent !important;
    border-bottom-color: transparent !important;*/
}

.navbar.headroom--unpinned {
    top: -130px;
    background-color: #000;
    border-bottom-color: #212121;
}

.navbar.headroom--unpinned .navbar-collapse {
    display: none;
}

.navbar.headroom--pinned {
    top: 0px;
    background-color: #000;
    border-bottom-color: #212121;
}

.navbar.headroom--not-top,
.navbar.headroom--not-bottom {
    border-bottom-color: #212121;
}