@font-face {
    font-family: 'Hind';
    src: url('~/build/fonts/Hind-Regular.eot');
    src: url('~/build/fonts/Hind-Regular.eot?#iefix') format('embedded-opentype'),
        url('~/build/fonts/Hind-Regular.woff2') format('woff2'),
        url('~/build/fonts/Hind-Regular.woff') format('woff'),
        url('~/build/fonts/Hind-Regular.ttf') format('truetype'),
        url('~/build/fonts/Hind-Regular.svg#InterUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Light';
    src: url('~/build/fonts/Hind-Light.eot');
    src: url('~/build/fonts/Hind-Light.eot?#iefix') format('embedded-opentype'),
        url('~/build/fonts/Hind-Light.woff2') format('woff2'),
        url('~/build/fonts/Hind-Light.woff') format('woff'),
        url('~/build/fonts/Hind-Light.ttf') format('truetype'),
        url('~/build/fonts/Hind-Light.svg#InterUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Medium';
    src: url('~/build/fonts/Hind-Medium.eot');
    src: url('~/build/fonts/Hind-Medium.eot?#iefix') format('embedded-opentype'),
        url('~/build/fonts/Hind-Medium.woff2') format('woff2'),
        url('~/build/fonts/Hind-Medium.woff') format('woff'),
        url('~/build/fonts/Hind-Medium.ttf') format('truetype'),
        url('~/build/fonts/Hind-Medium.svg#InterUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('~/build/fonts/icomoon.eot?83dh9j');
  src:  url('~/build/fonts/icomoon.eot?83dh9j#iefix') format('embedded-opentype'),
    url('~/build/fonts/icomoon.ttf?83dh9j') format('truetype'),
    url('~/build/fonts/icomoon.woff?83dh9j') format('woff'),
    url('~/build/fonts/icomoon.svg?83dh9j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wine-bar:before {
  content: "\e915";
}
.icon-baby-equipment:before {
  content: "\e914";
}
.icon-pets-allowed:before {
  content: "\e913";
}
.icon-events-not-allowed:before {
  content: "\e910";
}
.icon-pets-not-allowed:before {
  content: "\e911";
}
.icon-dining:before {
  content: "\e900";
}
.icon-air-conditioned:before {
  content: "\e901";
}
.icon-surface:before {
  content: "\e902";
}
.icon-security:before {
  content: "\e903";
}
.icon-outdoor:before {
  content: "\e904";
}
.icon-wellness:before {
  content: "\e905";
}
.icon-tennis:before {
  content: "\e906";
}
.icon-kitchen:before {
  content: "\e907";
}
.icon-living-area:before {
  content: "\e908";
}
.icon-events:before {
  content: "\e909";
}
.icon-entertainment:before {
  content: "\e90a";
}
.icon-games:before {
  content: "\e90b";
}
.icon-bedrooms:before {
  content: "\e90c";
}
.icon-wifi:before {
  content: "\e90d";
}
.icon-swimming-pool:before {
  content: "\e90e";
}
.icon-outdoor1:before {
  content: "\e912";
}
.icon-wheel-chair:before {
  content: "\e90f";
}



@include media-breakpoint-down(lg) {
    
    h1, .h1 { 
        font-size: $h1-font-size * .8; 
    }
    h2, .h2 { 
        font-size: $h2-font-size * .8; 
    }
    h3, .h3 { 
        font-size: $h3-font-size * .8; 
    }
    h4, .h4 { 
        font-size: $h4-font-size * .8; 
    }
    h5, .h5 { 
        font-size: $h5-font-size * .8; 
    }
    h6, .h6 { 
        font-size: $h6-font-size * .8; 
    }
}

@include media-breakpoint-down(xs) {
    
    h1, .h1 { 
        font-size: $h1-font-size * .6; 
    }
    h2, .h2 { 
        font-size: $h2-font-size * .6; 
    }
    h3, .h3 { 
        font-size: $h3-font-size * .6; 
    }
    h4, .h4 { 
        font-size: $h4-font-size * .6; 
    }
    h5, .h5 { 
        font-size: $h5-font-size * .6; 
    }
    h6, .h6 { 
        font-size: $h6-font-size * .6; 
    }
}