{% extends 'base.html.twig' %}

{% block className %}class="login"{% endblock %}

{% block nav %}{% endblock %}

{% block body %}

    <div class="container h-100">

        <div class="row align-items-center align-self-center h-100">

            <div class="col-lg-6 text-center login-container reveal">

                <img src="{{ asset('build/images/logo.svg') }}" class="mb-8 logo" alt="DeCollection" />

                <div class="row">

                    <div class="col-xl-10 offset-xl-1">

                        {% if error %}
                            <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        {% endif %}

                        <form action="{{ path('login') }}" method="post">

                            <div class="input-group mb-2">
                                <label for="username" class="sr-only">Username</label>
                                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="Username" />
                            </div>

                            <div class="input-group mb-4">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" id="password" class="form-control " name="_password" placeholder="Password" />
                            </div>

                            <button type="submit" class="btn btn-block btn-primary">Login</button>
                            
                            <a href="{{ path('reset_password') }}" class="d-inline-block text-center mt-5 forgot">Forgot password ?</a>

                        </form>

                    </div>

                </div>

            </div>

            <div class="col-lg-6 login-container reveal">
                <div style="background-color: rgba(174,151,24,.9); color: #fff; padding: 3rem;">
                    <p>https://decollection.luxury-rentals.com  regroups a handful of <strong>selected villas</strong> that share common values. Our definition of a <strong>memorable and extraordinary vacation</strong> is built on <strong>respect of the environment and the people</strong>. 
                    We are thriving to offer the best to those who wish <strong>to travel ethically</strong> and support ecological and social initiatives whilst protecting themselves and others. As much as <strong>feeling secured</strong>, it is a privilege to choose a property from De Collection as we offer unique experiences that we have tailored with our selected local professionals. If we use fashion terms to best define De Collection then we qualify as « Haute Couture ».</p>
                    <p>Select and exclusive, please ask for your <strong>privileged access</strong> code to find out more and see where your next <strong>safe vacation destination</strong> will be.</p>
                </div>
            </div>

        </div>
                            
        <div class="copyright text-center">
            <p class="mb-1">©{{ "now"|date('Y') }} Luxury Rentals International</p>
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    Contact : <a href="mailto:">info@luxury-rentals.com</a>
                </li>
                <li class="list-inline-item">
                    Conception : <a href="https://www.vertuoz.fr">Vertuoz</a>
                </li>
            </ul>
        </div>
                            
    </div>

    {% endblock %}