{% extends 'base.html.twig' %}

{% block className %}class="reset-password"{% endblock %}

{% block body %}

    <div class="container h-100">

        <div class="row align-items-center align-self-center h-100">

            <div class="col-xl-4 col-lg-6 col-md-8 offset-xl-4 offset-lg-3 offset-md-2 text-center">

                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('build/images/logo.svg') }}" class="mb-8 logo" alt="DeCollection" style="max-width: 350px;" />
                </a>

                {% if app.request.query.get('key') is null %}

                    <h1 class="h3">Forgot password</h1>

                    <p>Please enter your e-mail address. You will receive an email that will allow you to reset your password.</p>

                    {% for message in app.flashes('error') %}
                        <p class="text-danger">{{ message }}</p>
                    {% endfor %}

                    {% for message in app.flashes('success') %}
                        <p class="text-primary">{{ message }}<p>
                        {% endfor %}

                    <form action="{{ path('reset_password') }}" method="post">

                        <div class="input-group mb-3">
                            <label for="username" class="sr-only">E-mail address</label>
                            <input type="email" id="_email" class="form-control" name="_email" value="{{ last_email }}" placeholder="Email-address" />
                        </div>

                        <button type="submit" class="btn btn-block btn-primary">Send e-mail</button>

                    </form>

                {% endif %}

                {% if app.request.query.get('key') is not null %}

                    <h1 class="h3">Change password</h1>

                    <p>Please enter a new password and confirm it.</p>

                    {% for message in app.flashes('error') %}
                        <p class="text-danger">{{ message }}</p>
                    {% endfor %}

                    {% for message in app.flashes('success') %}
                        <p class="text-primary">{{ message }}<p>
                        {% endfor %}

                    <form name="partner_password" method="post" id="partner_password_form">

                        <div class="row">

                            <div class="input-group mb-3">
                                <label for="partner_password_new_password" class="required">New password</label>
                                <div class="input-group">
                                    <input type="password" id="partner_password_new_password" name="partner_password[new_password]" required="required" autocomplete="off" class="form-control">

                                </div>
                            </div>

                            <div class="input-group mb-8">
                                <label for="partner_password_new_password_confirm" class="required">New password confirmation</label>
                                <div class="input-group">
                                    <input type="password" id="partner_password_new_password_confirm" name="partner_password[new_password_confirm]" required="required" autocomplete="off" class="form-control">

                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>

                    {% endif %}

            </div>

        </div>

    </div>

{% endblock %}