{%  include 'transaction/legend.html.twig' %}

<select id="lstYears" class="form-control float-right">
    {% for y in range(("now"|date("Y") - 5), ("now"|date("Y") + 5)) %}
        <option value="{{ y }}" {% if year == y %}selected="selected"{% endif %}>{{ y }}</option>
    {% endfor %}
</select>

<div class="clearfix"></div>

<div id="calendarsContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="calendar1" class="calendarMonth">{{ calendar[1]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar2" class="calendarMonth">{{ calendar[2]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar3" class="calendarMonth">{{ calendar[3]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar4" class="calendarMonth">{{ calendar[4]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar5" class="calendarMonth">{{ calendar[5]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar6" class="calendarMonth">{{ calendar[6]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar7" class="calendarMonth">{{ calendar[7]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar8" class="calendarMonth">{{ calendar[8]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar9" class="calendarMonth">{{ calendar[9]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar10" class="calendarMonth">{{ calendar[10]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar11" class="calendarMonth">{{ calendar[11]|raw }}</div>
            </div>
            <div class="col-md-4">
                <div id="calendar12" class="calendarMonth">{{ calendar[12]|raw }}</div>
            </div>
        </div>
    </div>
</div>
            
<script>

        $('#lstYears').on('change', function (e) {

            e.preventDefault();
            var year = $(this).val();
            AvailabilitiesServices.getAvailabilitiesByPropertyId({{ propertyId }}, year);
            
        });
    </script>