html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

.noscroll {
    overflow: hidden;
}

section {
    position: relative;
    padding: 6rem 0;
}

section.big {
    padding: 12rem 0;
}

.copyright {
    margin-top: 2rem;
    color: #fff;
    font-size: .85rem;
    text-align: center;
}

.login .copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: .85rem;
    margin-top: 0;
    text-align: center;
}


.parallax-element {
    transition: all .15s ease-out;
}


/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
