
{% if prices|length > 0 %}

    <div class="table-responsive">
        <table class="table table-borderless table-striped" style="min-width: 750px;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Minimum night stay</th>
                    <th scope="col">Nightly rate (for 7 nights) {{ property.currency }}</th>
                </tr>
            </thead>

            <tbody>

                {% for price in prices %}

                    <tr>

                        <td width="25%">{{ price.startDate|date("Y F d") }}</td>
                        <td width="25%">{{ price.endDate|date("Y F d") }}</td>
                        <td width="25%" class="text-center" style="font-size: 1rem; font-weight: 700;">{{ price.minimumNightStay|default('-') }}</td>
                        <td width="25%" class="text-center" style="font-size: 1rem; font-weight: 700;">{{ price.nightlyRate|number_format(0 , "." , " ") }}</td>

                    </tr>

                {% endfor %}

            </tbody>

        </table>
    </div>


    <p>For longer stays, ask for a quotation or better ask yourself immediately for a “pricing only”.  This can be less expensive than the expected prorated amount.</p>

{% else %}

    <p>We are sorry, there is no rates to display for this property.</p>

{% endif %}
