<div class="container">
    {#
    <div class="row">
        <div class="col-12">
            <img src="{{ image }}" class="img-fluid" />
            <br /><br />
        </div>
    </div>
    #}
    <div class="row">
        <div class="col-12">
            <h2 class="h4">{{ name }}</h2>
            {{ description|raw }}
        </div>
    </div>
</div>