{% extends 'base.html.twig' %}

{% block className %}class="account"{% endblock %}

{% block body %}

    <div class="container">

        {% include 'partner/tabs.html.twig' with {'active': 'transactions'} %}

        <div class="row">
            <div class="col-md-12 mb-8">
                <div class="box" style="background-color: #fff; padding: 2rem 1.5rem;">

                    {% for message in app.flashes('error') %}
                        <div class="alert alert-error alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}


                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}

                    {% include 'transaction/legend.html.twig' %}

                    {% if transactions|length > 0 %}
                        
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Status</th>
                                    <th scope="col">Property</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Informations</th>
                                    <th scope="col">Dates</th>
                                    <th scope="col" width="200"></th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for transaction in transactions %}
                                    <tr>
                                        <td class="text-center">
                                            <div class="statusCircle status {{ transaction.statusClass }}">
                                                <div class="statusIcon"></div>
                                            </div>
                                        </td>
                                        <td><strong>{{ transaction.property.fullname }}</strong></td>
                                        <td><strong>{{ transaction.customer }}</strong></td>
                                        <td>
                                            <ul class="list-unstyled">
                                                <li>Net rental : {{ transaction.netRental|number_format(0, ',', ' ') }} {{ transaction.currency }}</li>
                                                <li>Nb travelers : {{ transaction.nbAdults + transaction.nbChildren }}</li>
                                                <li>Commission : {{ transaction.commission }} {{ transaction.currency }}</li>
                                            </ul>
                                        </td>
                                        <td>From {{ transaction.dateArrival|date('m-d-Y') }} to {{ transaction.dateDeparture|date('m-d-Y') }}</td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm" data-transaction-id="{{ transaction.id }}" data-type="overview">Overview</a>
                                            {% if transaction.status == 2 %}
                                                <a href="#" class="btn btn-primary btn-sm" data-transaction-id="{{ transaction.id }}" data-type="update">Pre-option</a>
                                            {% endif %}
                                            {% if transaction.status == 5 %}
                                                <a href="#" class="btn btn-primary btn-sm" data-transaction-id="{{ transaction.id }}" data-type="update">Book</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                            </div>
                        {% else %}
                            <p>{% trans %}Currently, there is no transaction to display{% endtrans %}</p>
                        {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

{% endblock body %}