{% extends 'base.html.twig' %}

{% block className %}class="account"{% endblock %}

{% block body %}

    <div class="container">

        {% include 'partner/tabs.html.twig' with {'active': 'customers'} %}

        <div class="row">
            <div class="col-md-12 mb-8">
                <div class="box" style="background-color: #fff; padding: 2rem 1.5rem;">

                    {% for message in app.flashes('error') %}
                        <div class="alert alert-error alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}


                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    
                    
                    <a href="#" class="btn btn-primary btn-sm float-right mb-8" data-customer-create>New client</a>

                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Phone / Email</th>
                                    <th scope="col" width="250"></th>
                                </tr>
                            </thead>

                            {% if customers|length > 0 %}

                                <tbody>
                                    {% for customer in customers %}
                                        <tr>
                                            <td>
                                                {{ customer.name }}
                                            </td>
                                            <td>{{ customer.city }}</td>
                                            <td>{{ customer.country }}</td>
                                            <td>{{ customer.phone }}</td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-sm" data-customer-id="{{ customer.id }}" data-type="edit">Edit</a>
                                                <a href="#" class="btn btn-primary btn-sm" data-customer-id="{{ customer.id }}" data-type="delete">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            {% endif %}

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock body %}