{% extends 'base.html.twig' %}

{% block className %}class="account"{% endblock %}

{% block body %}

    <div class="container">
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link active" href="#"><i data-feather="user"></i> Profile</a>
        </nav>
        <div class="row">
            <div class="col-12">
                <div class="box" style="background-color: #fff; padding: 2rem 1.5rem;">
                    <div class="row">
                        <div class="col-md-8">

                            {% for message in app.flashes('error') %}
                                <div class="alert alert-error alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}


                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}

                            {{ form_start(partner_form, {'attr': {'id': 'partner_form', 'enctype': 'multipart/form-data' } }) }}

                            {{ form_errors(partner_form) }}

                            <h2 class="h5">Account informations</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.firstname, 'Firstname') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.firstname, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.firstname) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.lastname, 'Lastname') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.lastname, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.lastname) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.company, 'Company') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.company, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.company) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.email, 'Email') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.email, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.email) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.home_phone, 'Home phone') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.home_phone, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.home_phone) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.office_phone, 'Office phone') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.office_phone, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.office_phone) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.home_cellular, 'Home cellular') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.home_cellular, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.home_cellular) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.office_cellular, 'Office cellular') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.office_cellular, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.office_cellular) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.home_fax, 'Home fax') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.home_fax, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.home_fax) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.office_fax, 'Office fax') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.office_fax, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.office_fax) }}
                                        </div>
                                    </div>
                                </div>
                            </div>  

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.address, 'Address') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.address, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.address) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.zipcode, 'Zipcode') }}
                                        <div class="input-group mb-3">
                                            {{ form_widget(partner_form.zipcode, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.zipcode) }}
                                        </div>
                                        {{ form_label(partner_form.city, 'City') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.city, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.city) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.state, 'State') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.state, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.state) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(partner_form.country, 'Country') }}
                                        <div class="input-group">
                                            {{ form_widget(partner_form.country, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(partner_form.country) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    {{ form_widget(partner_form.save, {attr: {class: 'btn btn-primary'} }) }}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="col-12 text-center mt-15">
                                                {% if partner.logo is not null %}
                                                    <img width="200" src="{{ partner.logo }}" class="img-fluid" />
                                                {% else %}
                                                    <img width="200" src="{{ asset('build/images/no-image.png') }}" />
                                                {% endif %}
                                                <br /><br />
                                            </div>
                                            <div class="col-12 text-center">
                                                {{ form_widget(partner_form.logo, {attr: {class: 'form-control inputfile inputfile-1'} }) }}
                                                <label for="partner_logo" class="required">
                                                    <i data-feather="upload"></i>
                                                    <span>Choose a file...</span>
                                                </label>
                                                {{ form_errors(partner_form.logo) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    {{ form_end(partner_form) }}

                    <br />
                    <hr />
                    <br />

                    {{ form_start(partner_password_form, {'attr': {'id': 'partner_password_form' } }) }}

                    {{ form_errors(partner_password_form) }}

                    <h2 class="h5">Change password</h2>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(partner_password_form.current_password, 'Current password') }}
                                <div class="input-group">
                                    {{ form_widget(partner_password_form.current_password, {attr: {class: 'form-control'} }) }}
                                    {{ form_errors(partner_password_form.current_password) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(partner_password_form.new_password, 'New password') }}
                                <div class="input-group">
                                    {{ form_widget(partner_password_form.new_password, {attr: {class: 'form-control'} }) }}
                                    {{ form_errors(partner_password_form.new_password) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(partner_password_form.new_password_confirm, 'New password confirmation') }}
                                <div class="input-group">
                                    {{ form_widget(partner_password_form.new_password_confirm, {attr: {class: 'form-control'} }) }}
                                    {{ form_errors(partner_password_form.new_password_confirm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(partner_password_form.save, {attr: {class: 'btn btn-primary'} }) }}
                        </div>
                    </div>

                    {{ form_end(partner_password_form) }}

                </div>
            </div>
        </div>

    {% endblock body %}