<nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link {% if active == 'transactions' %}active{% endif %}" href="{{ url('partner_account') }}">
        <i data-feather="repeat"></i> Transactions
    </a>
    <a class="nav-item nav-link {% if active == 'customers' %}active{% endif %}" href="{{ url('partner_customers') }}">
        <i data-feather="users"></i> Clients</a>
</nav>