<div class="container">
    <div class="row">
        <div class="col-12">

            {{ form_start(customer_form, {'attr': {'id': 'customer_form', 'enctype': 'multipart/form-data' } }) }}

            {{ form_errors(customer_form) }}

            <h2 class="h5">Client informations</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.firstname, 'Firstname') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.firstname, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.firstname) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.lastname, 'Lastname') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.lastname, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.lastname) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.company, 'Company') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.company, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.company) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.email, 'Email') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.email, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.email) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.home_phone, 'Home phone') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.home_phone, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.home_phone) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.office_phone, 'Office phone') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.office_phone, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.office_phone) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.home_cellular, 'Home cellular') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.home_cellular, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.home_cellular) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.office_cellular, 'Office cellular') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.office_cellular, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.office_cellular) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.home_fax, 'Home fax') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.home_fax, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.home_fax) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.office_fax, 'Office fax') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.office_fax, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.office_fax) }}
                        </div>
                    </div>
                </div>
            </div>  

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.address, 'Address') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.address, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.address) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.zipcode, 'Zipcode') }}
                        <div class="input-group mb-3">
                            {{ form_widget(customer_form.zipcode, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.zipcode) }}
                        </div>
                        {{ form_label(customer_form.city, 'City') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.city, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.city) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.state, 'State') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.state, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.state) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(customer_form.country, 'Country') }}
                        <div class="input-group">
                            {{ form_widget(customer_form.country, {attr: {class: 'form-control'} }) }}
                            {{ form_errors(customer_form.country) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_widget(customer_form.customer_id) }}
            <div class="row">
                <div class="col-12">
                    {{ form_widget(customer_form.save, {attr: {class: 'btn btn-primary'} }) }}
                </div>
            </div>

        </div>
    </div>
</div>


<script>

    $('#customer_form').find('button[type=submit]').on('click', function (e) {

        e.preventDefault();
        var params = $('#customer_form').serialize();

        CustomerServices.process(params);

    });
</script>