
.notfound {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #FDE74C;
    color: #212121;
}

.font-serif {
    font-family: $font-family-serif;
}

.font-sans-serif {
    font-family: $font-family-sans-serif;
}

.first-letter {
   color: $primary;
}

.row-equal-height {
    display: flex; 
    flex-wrap: wrap;
}

.skew-left,
.skew-right,
.skew-bottom-left {
    position: relative;
}

.skew-left:before {
    position: absolute;
    top: 20%;
    left: -70%;
    right: auto;
    content: '';
    display: block;
    width: 4200px;
    height: 1200px;
    transform: rotate(35deg);
    background-color: $primary;
    z-index: -1;
}

.skew-right:before {
    position: absolute;
    top: 20%;
    right: -70%;
    left: auto;
    content: '';
    display: block;
    width: 4200px;
    height: 1200px;
    transform: rotate(-35deg);
    background-color: $primary;
    z-index: -1;
}
/*
.js .loader {
    position: fixed;
    top: 0;
    left: -50%;
    width: 250%;
    height: 250%;
    z-index: 9999;
    background-color: #000;
    transform: rotate(45deg);
    -webkit-transition: all 1200ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -moz-transition: all 1200ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -o-transition: all 1200ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    transition: all 1200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);  easeOutQuad 

    -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);  easeOutQuad 
}

.js .loader.hide {
    left: -300%;
}*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
}

.loader .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.loader .progress {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 1px;
    background-color: #333;
}

.loader .progress .progress-bar {
    position: absolute;
    width: 0px;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all .15s ease-out;
}

@include media-breakpoint-down(sm) {
    .loader img {
        width: 250px;
    }
    .loader .progress {
        width: 250px;
    }
}


// Mixins
// ---------

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}


// @include animation(10s, 5s, fadeIn)

// FadeIn
// ---------

@include keyframes(fadeIn) {
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    }
}


// FadeOut
// ---------

@include keyframes(fadeOut) {
    0% { 
        opacity: 1; 
    } 
    100% { 
        opacity: 0; 
    }
}