{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block title %}{{ property.name|e }}{% endblock %}

{% block nav %}
    {% include 'property/nav.html.twig' %}
{% endblock %}

{% block className %}class="home"{% endblock %}

{% block body %}

    <div class="property-wrapper">

        <!-- Hero -->
        <section id="home" class="property-hero{# skew-left #}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="main-slider swiper-container">
                            <div class="swiper-wrapper">
                                {% for key, photo in property.mainSliderPhotos %}
                                    <div class="swiper-slide">
                                        <a href="{{ photo }}" data-fancybox="gallery">
                                            <img data-src="{{ photo }}" class="img-fluid" />
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="main-slider-pagination swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-hover parallax-element">
                            <div class="main-title mb-5">
                                <h1 class="mb-0 each-word">{{ property.name }}</h1>
                                {% if property.region is not null %}
                                    <h2 class="h5 font-sans-serif mb-0">
                                        {{ property.region }}
                                        {% if property.country is not null %}
                                            {{ ', ' ~ property.country }}
                                        {% endif %}
                                    </h2>
                                {% endif %}
                            </div>
                            <div class="main-description">
                                <ul class="mb-0 list-unstyled">
                                    {% if property.doubleBedrooms > 0 %}
                                        <li>{{ property.doubleBedrooms }} Double bedroom{% if property.doubleBedrooms > 1 %}s{% endif %}</li>
                                        {% endif %}
                                        {% if property.singleBedrooms > 0 %}
                                        <li>{{ property.singleBedrooms }} Single bedroom{% if property.singleBedrooms > 1 %}s{% endif %}</li>
                                        {% endif %}
                                        {% if property.maxSleeps > 0 %}
                                        <li>{{ property.maxSleeps }} Sleeps</li>
                                        {% endif %}
                                </ul>
                                {% if property.shortDescription is not empty %}
                                    <p class="mt-4">{{ property.shortDescription|truncate(300) }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <a href="#" data-scroll-to="#about">
                        <span class="arrow"></span>
                    </a>
                </div>
            </div>
        </section>
        <!-- /Hero -->

        <!-- About -->
        <section id="about" class="property-about">
            <div class="container">
                <div class="row row-equal-height">
                    <div class="col-lg-6">
                        <div class="property-overview-photos h-100">
                            {% if property.overviewPhotos[0] is defined %}
                                <a href="{{ property.overviewPhotos[0] }}" data-fancybox="gallery">
                                    <img src="{{ property.overviewPhotos[0] }}" class="img-fluid reveal-property-overview-1" />
                                </a>
                            {% endif %}
                            {% if property.overviewPhotos[1] is defined %}
                                <a href="{{ property.overviewPhotos[1] }}" data-fancybox="gallery">
                                    <img src="{{ property.overviewPhotos[1] }}" class="img-fluid reveal-property-overview-2 parallax-element" />
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6 pl-15">
                        <div class="reveal about-content">
                            <h2 class="h1">When experience takes the lead...</h2>
                            {{ property.description|raw }}
                            {% if property.completeFileDescription is not null %}
                                <a target="_blank" href="{{ property.completeFileDescription }}" class="btn btn-primary btn-pdf mt-5">Read the full description (PDF)</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /About -->

        <!-- Details -->
        <section id="details" class="property-details">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="h1 text-center mb-15">Details</h2>
                        <div class="row justify-content-center">
                            {% for key, property_amenity in property.amenities %}
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center property-details-item reveal">
                                    {% if property_amenity.icon is defined %}
                                        <a href="#" data-amenity-id="{{ property_amenity.id }}" data-property-id="{{ property.id }}">
                                            <i class="{{ property_amenity.icon }}"></i>
                                        </a>
                                    {% else %}
                                        <h5 class="d-block">{{ property_amenity.name }}</h5>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Details -->

        <!-- Services -->
        <section id="services" class="property-services pt-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="h1 mb-15 text-center">Services</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for key, property_service in property.services %}
                        <div class="col-md-3">
                            <div class="service-item">
                                <a href="#" data-service-id="{{ property_service.service.id }}" data-property-id="{{ property.id }}">
                                    {% if property_service.service.image is defined %}
                                        <img data-src="{{ property_service.service.image }}" class="img-fluid" />
                                    {% else %}
                                        <img data-src="{{ asset('build/images/default.jpg') }}" class="img-fluid" />
                                    {% endif %}
                                    <div class="content">
                                        <h4 class="mb-3">{{ property_service.service.name }}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>  
        <!-- /Services -->

        <!-- Location -->
        <section id="location" class="property-location reveal pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2 class="h1 text-center mb-15">Location</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <div id="map-container">
                            <div id="map"></div>
                            {#
                            {% if property.geojsonFile is not null %}
                                {{ render(url('render_content', { 'code': property.geojsonFile, 'areaName': 'regions', 'tplName': 'homepage_map_box' })) }}
                            {% endif %}
                            #}
                        </div>

                        {% if property.address is not null and property.address is not empty %}

                            {% set coords = property.address|trim|split(',') %}

                            <script type="text/javascript">
                                
                                var lat = {{ coords[0] }};
                                        var lon = {{ coords[1] }};
                                var Omap = null;
                                
                                function initMap() {
                                    
                                    mymap = Leaflet.map('map', {
                                        minZoom: 0,
                                        maxZoom: 5,
                                        zoom: 0,
                                        zoomControl: false,
                                        scrollWheelZoom: false
                                    }).setView([lat, lon], 11);
                                    
                                    {% if property.locationDetails is not null %}
                                        mymap.on("click", function(e){

                                            $("#default-modal").find('.modal-title').text("Location details");
                                            $("#default-modal").find('.modal-body').html("{{ property.locationDetails|replace({"\n":' ', "\r":' '})|addslashes|raw }}");
                                            $("#default-modal").modal('show');

                                        });
                                    {% endif %}

                                    // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                                    Leaflet.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                                        // Il est toujours bien de laisser le lien vers la source des données
                                        //attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                                        minZoom: 0,
                                        maxZoom: 5
                                    }).addTo(mymap);

                                    var circle = Leaflet.circle([{{ coords[0] }}, {{ coords[1] }}], {
                                        color: '#8A772E',
                                        fillColor: '#8A772E',
                                        fillOpacity: 0.5,
                                        radius: 100000.0
                                    }).addTo(mymap);

                                }
                                window.onload = function () {
                                    // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
                                    initMap();
                                };
                            </script>

                        {% endif %}

                        {#
                        {% if property.comment is not null %}
                            <div class="location-details mt-15">
                                {{ property.comment|raw }}
                            </div>
                        {% endif %}
                        #}
                    </div>
                </div>
            </div>
        </section>
        <!-- /Location -->

        <!-- Availabilities -->
        <section id="availabilities" class="property-availabilities">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="h1 mb-15">Availabilities & Rates</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                        <table class="table mb-4">
                            <tr>
                                <td>Minimum night(s)</td>
                                <td class="important">{{ property.minWeeks }}</td>
                            </tr>
                            {% if property.prorataAllowed == 1 %}
                                <tr>
                                    <td>Prorata temporis</td>
                                    <td class="important">Allowed</td>
                                </tr>
                            {% endif %}
                            {% if property.checkInPeriod is not null %}
                                <tr>
                                    <td>Check-In</td>
                                    <td class="important">{{ property.checkInPeriod }}</td>
                                </tr>
                            {% endif %}
                            {% if property.maxSleeps is not null %}
                                <tr>
                                    <td>Maximum travellers</td>
                                    <td class="important">{{ property.maxSleeps }}</td>
                                </tr>
                            {% endif %}

                        </table>

                        <a href='#' class="view-rates btn btn-primary btn-block mb-2" data-property-id="{{ property.id }}">View rates</a>
                        <a href='#' class="view-availabilities btn btn-primary btn-block" data-property-id="{{ property.id }}">View availabilities</a>

                    </div>
                    <div class="col-md-8">

                        <div class="form-container">

                            <h2 class="h4 mt-5 mb-10">New transaction</h2>

                            <div class="form-message"></div>

                            {{ form_start(transaction_form, {'attr': {'id': 'transaction_form' } }) }}

                            {{ form_errors(transaction_form) }}

                            <div class="form-group mb-8">
                                {{ form_label(transaction_form.customer, 'Client') }}
                                <div class="input-group">
                                    {{ form_widget(transaction_form.customer, {attr: {class: 'form-control selectpicker'} }) }}
                                    {{ form_errors(transaction_form.customer) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        {{ form_label(transaction_form.arrival_date, 'Arrival date') }}
                                        <div class="input-group">
                                            {{ form_widget(transaction_form.arrival_date, {attr: {class: 'form-control datepicker'} }) }}
                                            {{ form_errors(transaction_form.arrival_date) }}
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(transaction_form.departure_date, 'Departure date') }}
                                        <div class="input-group">
                                            {{ form_widget(transaction_form.departure_date, {attr: {class: 'form-control datepicker'} }) }}
                                            {{ form_errors(transaction_form.departure_date) }}
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(transaction_form.nb_adults, 'Adults') }}
                                        <div class="input-group">
                                            {{ form_widget(transaction_form.nb_adults, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(transaction_form.nb_adults) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(transaction_form.nb_children, 'Children') }}
                                        <div class="input-group">
                                            {{ form_widget(transaction_form.nb_children, {attr: {class: 'form-control'} }) }}
                                            {{ form_errors(transaction_form.nb_children) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown dropdown-type mt-2 mb-4">
                                <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Book now
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-type="1">Pricing only</a>
                                    <a class="dropdown-item" href="#" data-type="2">By Request</a>
                                    <a class="dropdown-item" href="#" data-type="3">Pre-option</a>
                                </div>
                            </div>

                            {{ form_end(transaction_form) }}

                        </div>

                        {% if property.availabilityPhoto is not null %}
                            <a href="{{ property.availabilityPhoto }}" data-fancybox="gallery">
                                <img data-src='{{ property.availabilityPhoto }}' class="img-fluid" />
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
            <a href="#" data-scroll-to="#home">
                <span class="arrow"></span>
            </a>
        </section>
        <!-- /Availabilities -->

    </div> 

    <!-- Remaining photos -->
    <div class="d-none">
        {% for key, property_remaining_photo in property.remainingPhotos %}
            <a href="{{ property_remaining_photo }}" data-fancybox="gallery">
                <img data-src="{{ property_remaining_photo }}" />
            </a>
        {% endfor %}
    </div>
    <!-- /Remaining photos -->

{% endblock %}

{% block loader %}
    {% include 'loader.html.twig' %}
{% endblock loader %}
