
{% for item in properties %}

    {% if loop.index0 % 2 == 0 %}
        <div class="row justify-content-center align-items-center">
        {% endif %}

        <div class="col-md-6">
            <a class="property-list--item reveal" href="{{ item.uri }}">
                <div class="content">
                    <h2 class="property-title">{{ item.name }}</h2>
                    {% if item.region is not null %}
                        <p class="region property-region">
                            {{ item.region }}
                            {% if item.country is not null %}
                                {{ ', ' ~ item.country }}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                <span class="arrow"></span>
                <div class="radial-inner-shadow" {% if item.photos[0] is defined %}data-src="{{ item.photos[0] }}"{% endif %}></div>
            </a>
        </div>

        {% if loop.index0 % 2 == 1 or loop.last %}
        </div>
    {% endif %}

{% endfor %}