<nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url('homepage') }}">
            <img src="{{ asset('build/images/logo.svg') }}" alt="DeCollection" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('homepage') }}">Properties list</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-scroll-to="#home">Presentation <span class="sr-only">(current)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-to="#about">About</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-to="#details">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-to="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-to="#location">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll-to="#availabilities">Availabilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('partner_account') }}">Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>