
.hero--inner-shadow {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

.hero--inner-shadow:before {
    position: absolute;
    display: block;
    content: '';
    width: 130%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(circle at 50% 50%, transparent, #000 80%);
}

.hero--inner-shadow:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 60%;
    bottom: 0;
    z-index: 1;
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
}

.radial-inner-shadow {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    transition: all .5s;
}

.radial-inner-shadow:after {
    position: absolute;
    display: block;
    content: '';
    width: 130%;
    height: 130%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    transition: all 1s;
    z-index: 10;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
}