// Fonts
// ---------

$font-family-sans-serif:      "Hind-Light", Helvetica, Arial, serif;
$font-family-serif:           "Vidaloka", Georgia, Arial, serif;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1.1rem;
$line-height-base:            1.6;

$h1-font-size:                $font-size-base * 3.85;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 2.5;
$h4-font-size:                $font-size-base * 2;
$h5-font-size:                $font-size-base * 1.55;
$h6-font-size:                $font-size-base;


// Headings
// ---------

$headings-margin-bottom:      2rem;
$headings-font-family:        $font-family-serif;
$headings-line-height:        1.5;


// Scaffolding
// ---------

$body-bg:                     #000;
$body-color:                  #fff;

/*$primary:                     #8A772E;*/
$primary:                     #ae9718;


// Grid / Containers
// ---------

$grid-gutter-width:           60px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 992px,
  lg: 1280px,
  xl: 1720px
);

$container-max-widths: (
  sm: 696px,
  md: 872px,
  lg: 1160px,
  xl: 1600px
);


$border-radius:                 0;
$border-radius-sm:              0;

$input-height:                  3rem;
$input-padding-y:               .45rem;
$input-padding-x:               .7rem;

$btn-padding-y:                 .75rem;
$btn-padding-x:                 2rem;

$btn-padding-y-sm:              .6rem;
$btn-padding-x-sm:              2rem;

$nav-link-padding-y:            1rem;
$nav-link-padding-x:            1rem;

$modal-lg:                      1200px;
$modal-md:                      800px;
$modal-sm:                      300px;
$modal-content-border-radius:   0;


$table-accent-bg:               #f6f6f6;


// Spacers
// ---------

$spacer: 1rem;
$spacers: ();

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer *.75,
    4: ($spacer * 1),
    5: ($spacer * 1.25),
    6: ($spacer * 1.5),
    7: ($spacer * 1.75),
    8: $spacer * 2,
    9: ($spacer * 2.25),
    10: ($spacer * 2.5),
    11: ($spacer * 2.75),
    12: ($spacer * 3),
    13: ($spacer * 3.25),
    14: ($spacer * 3.5),
    15: ($spacer * 3.75),
    16: ($spacer * 4)
  ),
  $spacers
);