body.account .main-wrapper {
    padding-top: 10rem;
}

body.account {
    color: #000;
}

body.account .table > tbody > tr > td {
     vertical-align: middle;
}

.nav-justified .nav-item {
    font-size: 1.2rem;
    background-color: #181818;
    text-transform: uppercase;
}

.table tr:hover {
    cursor: pointer;
}

.table th {
    background-color: #ddd;
}