.hero {
    height: 650px;
}

.hero--logo {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.hero--title {
    transform: translateY(48px);
    position: relative;
    z-index: 10;
}
