
.login .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

.login .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

.login .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}

.login {
    background-image:  url(~../images/login-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login .logo {
    max-width: 450px;
    height: auto;
}

.login input[type="text"],
.login input[type="password"] {
    border: 1px solid transparent;
    background-color: rgba(255,255,255,.9);
}

.login .text-danger {
    font-size: 1rem;
    color: #fff !important;
    margin-bottom: 1.5rem;
}

.login .forgot {
    font-size: .85rem;
    color: #fff;
}

.login-container {
    visibility: hidden;
}