.property-wrapper {
    padding-bottom: 10rem;
}

@include media-breakpoint-down(sm) {
    .property-wrapper {
        padding-bottom: 35rem;
    } 
}

.property-wrapper .main-hover {
    position: absolute;
    z-index: 10;
    top: 6rem;
    left: -15rem;
}

.property-wrapper .main-title {
    background-color: rgba(0,0,0,.85);
    padding: .5rem 1.5rem .75rem 1.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.property-wrapper .main-title h1 {
    font-size: 5rem;
}

@include media-breakpoint-down(lg) {
    .property-wrapper .main-title h1 {
        font-size: 3.75rem;
    }
}

@include media-breakpoint-down(sm) {
    .property-wrapper .main-title h1 {
        font-size: 3rem;
    }
}

@include media-breakpoint-down(xs) {
    .property-wrapper .main-title h1 {
        font-size: 2.5rem;
    }
}

.property-wrapper .main-description {
    font-size: 1.2rem;
    background-color: rgba(0,0,0,.85);
    padding: 1.5rem;
}

.property-wrapper .main-description > ul {
    font-size: 1.3rem;
}

@include media-breakpoint-down(md) {
    .property-wrapper .main-description > ul {
        font-size: 1rem;
    }
}

.property-wrapper .main-slider {
    width: 1024px;
    height: 683px;
    box-shadow: 0px 0px 40px rgba(0,0,0,.45);
}

@include media-breakpoint-down(md) {
    .property-wrapper .main-slider {
        width: 800px;
        height: 534px;
    }
}

@include media-breakpoint-down(sm) {
    .property-wrapper .main-slider {
        width: 520px;
        height: 347px;
    }
}

@include media-breakpoint-down(xs) {
    .property-wrapper .main-slider {
        width: 280px;
        height: 187px;
    }
}

.property-hero {
    /*padding-top: 10rem;*/
    padding-bottom: 6rem;
}

@include media-breakpoint-down(md) {
    .property-hero {
        padding-top: 7rem;
    }
}

.property-hero .arrow {
    position: absolute;
    display: inline-block;
    bottom: 5rem;
    color: #fff;
    right: 5rem;
    transition: all .2s;
    z-index: 20;
    width: 130px;
    height: 38px;
    transform: rotate(90deg);
    background-image: url(~../images/arrow-right-thin-white.svg);
    background-size: 100% 100%;
    background-position: right top;
    background-repeat: no-repeat;
}

@include media-breakpoint-down(md) {
    .property-hero .arrow {
        bottom: -5rem;
    }
}

@include media-breakpoint-down(sm) {
    
    .property-wrapper .main-hover {
        top: 0 !important;
        position: relative;
        left: auto;
    }
    
    .property-hero .arrow {
        display: none;
    }
 
}


.property-overview-photos {
    position: relative;
}

.property-overview-photos > a > img {
    position: absolute;
}

.property-overview-photos > a:nth-child(1) > img {
    max-width: 600px;
    top: 0;
    right: 0;
    z-index: 1;
}

.property-overview-photos > a:nth-child(2) > img {
    max-width: 450px;
    top: 300px;
    left: 70px;
    z-index: 2;
}

@include media-breakpoint-down(lg) {
    
    .property-about {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .property-overview-photos > a:nth-child(1) > img {
        left: 0px;
    }
    
}

@include media-breakpoint-down(md) {
    .property-overview-photos > a:nth-child(2) > img {
        top: 220px;
        left: -135px;
    }
    .property-about .about-content {
        padding-top: 35rem;
    }
}

.property-services .swiper-item-content {
    position: absolute;
    max-width: 600px;
    right: 3rem;
    padding: 1.5rem;
    top: 480px;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    z-index: 10;
}

.property-services .swiper-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
}

.property-services .services-list {
    width: 95%;
    height: 450px;
    padding: 3rem 0;
}

.property-services .services-list-container {
    position: absolute;
    top: 200px;
    width: 500px;
    height: 70%;
    background-color: #000;
    z-index: 5;
}

.property-services .services-list-inner {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.property-services .services-list > li {
    position: relative;
    display: block;
    height: 190px;
}


@include media-breakpoint-down(lg) {
    .property-services .services-list > li {
        height: 90px;
    }
    .property-services .services-list .content {
        display: none;
    }
}

.property-services .services-list > li > div > a {
    color: #fff;
    text-decoration: none;
}
/*
.property-services .services-list > li:before {
    position: absolute;
    content: '';
    display: block;
    width: 65%;
    top: 1.5rem;
    right: -70%;
    left: auto;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    z-index: 900;
}

.property-services .services-list > li.active:before {
    border-bottom-color: #fff;
}*/

.property-services .services-list > li > div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 2rem;
    opacity: .6;
    transition: all .3s;
    border-left: 5px solid transparent;
}

.property-services .services-list > li > div:hover {
    opacity: 1;
}

.property-services .services-list > li > div:hover,
.property-services .services-list > li.active > div {
    border-left: 5px solid #fff;
    left: 20px;
    opacity: 1;
}

.property-details .property-details-item {
    visibility: hidden;
}

.property-details .property-details-item a {
    color: #fff;
    text-decoration: none;
}

.property-details .property-details-item a:hover {
    color: $primary;
}

.property-details .property-details-item .icon {
    display: block;
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}

.property-details .property-details-item {
    margin-bottom: 2rem;
}

.property-wrapper .services-slider {
    width: 1170px;
    height: 780px;
    background-color: #000;
}

@include media-breakpoint-down(lg) {
    .property-wrapper .services-slider {
        width: 600px;
        height: 400px;
    }
}

.services-slider .swiper-slide > a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
}

.property-services .service-item {
    position: relative;
    margin-bottom: 4rem;
    background-color: #181818;
}

.property-services .service-item:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0px;
    height: 1px;
    background-color: $primary;
    transition: all .2s ease-in-out;
}

.property-services .service-item .content {
    padding: 1.5rem 2rem;
}

.property-services .service-item .content > * {
    transition: all .2s ease-in-out;
}

.property-services .service-item:hover .content h4 {
    color: $primary;
}

.property-services .service-item:hover:after {
    width: 100%;
}

.property-services .service-item a {
    color: #fff;
}

.property-services .service-item a:hover {
    text-decoration: none;
}

.property-location .location-details ul {
    margin: 15px;
    padding: 0;
}

.property-location .location-details ul > li {
    margin-bottom: .3rem;
}

.property-location #map {
    width: 100%;
    height: 500px;
    z-index: -1;
}

.property-location #map-container {
    position: relative;
    z-index: 1;
}

.property-location #map-overlay {
    position: absolute;
    width: 330px;
    top: 280px;
    right: 50px;
    background-color: #000;
    height: 480px;
    z-index: 5;
}

.property-location #map-overlay h5 {
    font-style: normal;
}

.property-location #map-overlay-inner {
    height: 460px;
    padding: 2rem;
    overflow-y: auto;
}

.property-location #map-overlay p {
    font-size: 1.1rem;
    margin-bottom: 0;
    line-height: 1.8rem;
    text-align: left !important;
}

.view-rates,
.view-availabilities {
    display: inline-block;
    color: #fff;
}

@include media-breakpoint-down(sm) {
    
    .property-availabilities {
        padding-top: 0;
    }
    
}

.property-availabilities .table {
    font-size: 1.1rem;
    background-color: #161616;
    margin-bottom: 0;
}

.property-availabilities .table td {
    border-color: #333;
    color: #bbb;
}

.property-availabilities .table td.important {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
}

.property-availabilities .dropdown-type .dropdown-menu {
    width: 100% !important;
    transform: translate3d(0px, 60px, 0px)!important;
}

.property-availabilities .form-container {
        max-width: 400px;
        background: rgba(0,0,0,.85);
        padding: 1rem 2rem;
        position: absolute;
        top: 230px;
        right: 60px;
        z-index: 10;
    }


@include media-breakpoint-down(lg) {
    .property-availabilities .form-container {
        top: 150px;
        right: 60px;
    }
}

#lstYears {
    max-width: 150px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.property-about {
    min-height: 750px;
}

.property-availabilities .arrow {
    position: absolute;
    display: inline-block;
    bottom: -3rem;
    color: #fff;
    right: 5rem;
    transition: all .2s;
    z-index: 20;
    width: 130px;
    height: 38px;
    transform: rotate(-90deg);
    background-image: url(~../images/arrow-right-thin-white.svg);
    background-size: 100% 100%;
    background-position: right top;
    background-repeat: no-repeat;
}

@include media-breakpoint-down(md) {
    .property-availabilities .arrow {
        right: 2rem;
    }
}


@include media-breakpoint-down(sm) {
    .property-availabilities .arrow {
        display: none;
    }
}