body {
    padding-top: 6rem;
}

.property-list--item {
    visibility: hidden;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
    color: #fff;
    background-color: #212121;
}

.property-list--item .radial-inner-shadow {
    width: 100%;
    height: 530px;
}

.property-list--item .content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 20;
    transition: all .5s;
}

.property-list--item .property-title {
    margin-bottom: .5rem;
}

@include media-breakpoint-down(sm) {
 
    .property-list--item .property-title {
        font-size: 1.75rem;
    }
    
}

.property-list--item .property-region {
    font-size: 1.2rem;
}

.property-list--item:hover {
    color: #fff;
}

.property-list--item:hover .content {
    left: 50px;
}

.property-list--item:hover .radial-inner-shadow  {
    transform: scale(1.05);
}

.property-list--item .arrow {
    position: absolute;
    display: inline-block;
    bottom: -40px;
    color: #fff;
    right: -40px;
    transition: all .2s;
    z-index: 20;
    width: 130px;
    height: 38px;
    background-image: url(~../images/arrow-right-thin-white.svg);
    background-size: 100% 100%;
    background-position: right top;
    background-repeat: no-repeat;
}

.property-list--item:hover .arrow {
    bottom: 30px;
}

.homepage_headline {
    visibility: hidden;
}