{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    
    <section class="hero hero--inner-shadow p-0" data-src="http://rootcms.elocms.com/documents/30/specific30agents/property/1920x1440_a8aebc32e8f120a924403548993efe25.jpg">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-8 text-center hero--title">
                    <img class="hero--logo" src="{{ asset('build/images/logo.svg') }}" alt="DeCollection" />
                    <h1 class="h5">Lead by the experience, De Collection is a cluster of the most luxurious villas and châteaux that guarantee service excellence...</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="property-list pt-0">
        
        {#
        <div class="container mb-15">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 text-center homepage_headline reveal">
                    {{ render(url('render_content', {'code': 'homepage_headline', 'tplName': 'homepage_headline' })) }}
                </div>
            </div>
        </div>
        #}
        
        <div class="container">
            
            {{ render(url('property_list', {})) }}
            
        </div>
        
    </section>

{% endblock %}


{% block loader %}
    {% include 'loader.html.twig' %}
{% endblock loader %}