{% if slider is not empty %}
    
    <div class="swiper-container">
        
        <div class="swiper-wrapper">
            
            {% if slider.slides is not empty %}
                {% for key, slide in slider.slides %}
                    <div class="swiper-slide">
                        <img src="{{ slide.file }}" alt="{{ slide.name|e }}" />
                    </div>
                {% endfor %}
            {% endif %}
            
        </div>
        
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
    </div>
            
{% endif %}
