{% if slider is not empty %}
    
    <div class="swiper-container">
        
        <div class="swiper-wrapper">
            
            {% if slider.slides is not empty %}
                {% for key, slide in slider.slides %}
                    <div class="swiper-slide">
                        <div class="swiper-slide-content">
                            <div class="parallax-fade-top">
                                <div class="swiper-slide-title animated fadeIn">{{ slide.name }}</div>
                                {#
                                {% if slide.description is not empty %}
                                    <div class="animated fadeIn">
                                        {{ slide.description }}
                                    </div>
                                {% endif %}
                                #}
                            </div>
                        </div>
                        <div class="swiper-slide-bg" style="background-image: url({{ slide.file }})"></div>
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                {% endfor %}
            {% endif %}
            
        </div>
        
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
    </div>
            
{% endif %}
