<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>

        <meta charset="UTF-8">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="theme-color" content="#000000">
        
        {{ render(url('render_seo', {'params' : {'uri' : app.request.requestUri} })) }}
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

    {% block stylesheets %}{% endblock %}

</head>

<body {% block className %}{% endblock %}>

    <div class="main-wrapper h-100">

        {% block nav %}
            {% include 'nav.html.twig' %}
        {% endblock %}

    {% block body %}{% endblock %}

    {% block copyright %}
        <div class="copyright text-center">
            <p class="mb-1">©{{ "now"|date('Y') }} Luxury Rentals International</p>
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    Contact : <a href="mailto:info@luxury-rentals.com">info@luxury-rentals.com</a>
                </li>
                <li class="list-inline-item">
                    Conception : <a href="https://www.vertuoz.fr" target='_blank'>Vertuoz</a>
                </li>
            </ul>
        </div>
    {% endblock %}
        
    {% block loader %}{% endblock %}

</div>

{% block modal %}
    {% include 'modal/default.html.twig' %}
{% endblock %}

<script>document.documentElement.className = "js";</script>
<script src="{{ asset('build/app.js') }}"></script>

{% if page is defined %}
    <script src="{{ asset('build/'~ page ~'.js') }}"></script>
{% endif %}

{% block javascripts %}{% endblock %}

</body>

</html>
