
    <div class="loader">
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <p class="mb-10">
                        <img width="400" src="{{ asset('build/images/logo.svg') }}" alt="DeCollection" />
                    </p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>