<nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url('homepage') }}">
            <img src="{{ asset('build/images/logo.svg') }}" alt="DeCollection" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item{% if current_nav == 'properties' %} active{% endif %}">
                    <a class="nav-link" href="{{ url('homepage') }}">Properties list</a>
                </li>
                <li class="nav-item{% if current_nav == 'account' %} active{% endif %}">
                    <a class="nav-link" href="{{ url('partner_account') }}">Transactions</a>
                </li>
                <li class="nav-item{% if current_nav == 'customers' %} active{% endif %}">
                    <a class="nav-link" href="{{ url('partner_customers') }}">Clients</a>
                </li>
                <li class="nav-item{% if current_nav == 'profile' %} active{% endif %}">
                    <a class="nav-link" href="{{ url('partner_profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>