{% extends 'base.html.twig' %}

{% block copyright %}{% endblock %}
{% block modal %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ content|raw }}
            </div>
        </div>
    </div>
            
    <style>
        body {
            font-size: 16px;
            line-height: 24px;
            color: #000;
            background-color: #fff;
        }
    </style>
    
    <script>
        window.print();
    </script>

{% endblock body %}