<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-3 amenity-icon text-center">
            <i class="icon {{ icon }}"></i>
        </div>
        <div class="col-md-9">
            <h2 class="h4">{{ name }}</h2>
            {{ description|raw }}
        </div>
    </div>
</div>