{% if errors|length > 0 %}

    <p>There are errors in your selection. Please correct the errors to continue : </p>

    <ul>
        {% for error in errors %}
            {% if loop.index > 1 %}<br />{% endif %}
            <li>{{ error }}</li>
            {% endfor %}
    </ul>

{% else %}

    <h2 class="h4">{{ property.name }}</h2>

    <div class="table-responsive">
        <table class="table table-borderless table-striped" style="min-width: 750px;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">Arrival Date</th>
                    <th scope="col">Departure Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Nb.Travellers</th>
                    <th scope="col">Price / Commission</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="18%">{{ arrivalDate|date('m/d/Y l') }}</td>
                    <td width="18%">{{ departureDate|date('m/d/Y l') }}</td>
                    <td width="18%">{{ customer }}</td>
                    <td width="20%">
                        Adults : {{ nbAdults }}<br />
                        Children : {{ nbChildren }}
                    <td width="26%">
                        Price : <strong>{{ netRental|number_format(0, '.', ' ') }} {{ property.currency }}</strong><br>
                        Commission (20%) : <strong>{{ commission|number_format(0, '.', ' ') }}  {{ property.currency }}</strong><br>
                        Cost of Rental : <strong>{{ costRental|number_format(0, '.', ' ') }}  {{ property.currency }}</strong><br>
                        Deposit due : <strong>{{ property.deposit }} %</strong><br>
                        <br><br>
                    </td>         
                </tr>
            </tbody>
        </table>
    </div>
{% endif %}

{% block body %}
{% endblock body %}

{% block form %}
{% endblock form %}

{% block javascripts %}
{% endblock javascripts %}