{% extends "transaction/base.html.twig" %}

{% block javascripts %}

    <script>

        $('#byrequest_form').find('button[type=submit]').on('click', function (e) {

            e.preventDefault();
            var type = $(this).data('type');
            var params = $('#byrequest_form').serialize();

            TransactionServices.process(type, params);
            
        });
    </script>
    
{% endblock %}


{% block form %}
    
    {% if property is defined %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                {{ form_start(byrequest_form, {'attr': {'id': 'byrequest_form' } }) }}

                {{ form_errors(byrequest_form) }}

                <div class="form-group">
                    {{ form_label(byrequest_form.comment, 'Comment') }}
                    <div class="input-group">
                        {{ form_widget(byrequest_form.comment, {attr: {class: 'form-control'} }) }}
                        {{ form_errors(byrequest_form.comment) }}
                    </div>
                </div>

                <div class="text-center">
                    {{ form_widget(byrequest_form.save, {attr: {class: 'btn btn-primary', 'data-type': 2, 'data-property-id': property.id} }) }}
                </div>

                {{ form_end(byrequest_form) }}

                <br /><br />

            </div>
        </div>
    </div>
                
    {% endif %}


{% endblock form %}