{% extends "transaction/base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="h6">Comment</p>
                <div class="comment" style="font-size: .85rem; line-height: 1rem; height: 200px; overflow-y: auto;">
                    {{ comment|nl2br }}
                </div>
            </div>
            <div class="col-md-6">
                <p class="h6 float-left">Rental conditions</p>
                <a href="{{ url('rental_conditions') }}" class="float-right" target="_blank" style="font-size: 1rem;">Print</a>
                <div class="clearfix"></div>
                <div class="comment" style="font-size: .85rem; line-height: 1rem; height: 200px; overflow-y: auto;">
                    {{ rentalConditions|raw }}
                </div>
            </div>
        </div>
    </div>

    <style>
        .comment h3 {
            font-size: 1.5rem;
        }
    </style>


{% endblock body %}