<p class="mb-2">Status legend</p>
<ul class="legend list-inline list-unstyled">
    <li class="list-inline-item">
        <div class="legend byrequest mr-2"></div>
        <div class="text">By request</div>
    </li>
    <li class="list-inline-item">
        <div class="legend available mr-2"></div>
        <div class="text">Available</div>
    </li>
    <li class="list-inline-item">
        <div class="legend unavailable mr-2"></div>
        <div class="text">Unavailable</div>
    </li>
    <li class="list-inline-item">
        <div class="legend onhold mr-2"></div>
        <div class="text">Pre-option</div>
    </li>
    <li class="list-inline-item">
        <div class="legend booked waitfordeposit mr-2"></div>
        <div class="text">Booked (waiting for deposit)</div>
    </li>
    <li class="list-inline-item"><div class="legend booked waitforbalance"></div> <div class="text">Booked (waiting for balance)</div></li>
    <li class="list-inline-item"><div class="legend booked"></div> <div class="text">Booked</div></li>
</ul>